# Documents (نباید commit شوند)
*.png
*.jpg
*.jpeg
*.txt
how_its_work.md
structure.md

# Backend
backend/target/
backend/Cargo.lock

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/postcss.config.mjs
frontend/eslint.config.mjs

# Config files (dup)
postcss.config.mjs
eslint.config.mjs